/* line 5, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("fonts/Exo_2/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-size: "thin";
}
@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo_2/Exo2-Bold.woff") format("woff"), url("fonts/Exo_2/Exo2-Bold.woff2") format("woff2"), url("fonts/Exo_2/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-size: "bold";
}
@font-face {
  font-family: "Marvel";
  src: url("fonts/Marvel/Marvel-Regular.woff") format("woff"), url("fonts/Marvel/Marvel-Regular.woff2") format("woff2"), url("fonts/Marvel/Marvel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: "regular";
}
/*
 0 -  9: Normal
10 - 19: Tooltips
20 - 29: Fab Menu
30 - 39: Hamburger Menu
40 - 49:
50 - 59:
60 - 69:
70 - 71:
80 - 89:
90 - 99: Animations
*/
/* $default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-timing-function: ease-in-out;
 */
/* line 1, ../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Marvel, Sans-Serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 110%;
  z-index: 1;
  background-color: #fff;
  cursor: default;
  overflow-y: scroll;
}

/* line 13, ../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", Sans-Serif;
  font-weight: bold;
}

/* line 18, ../lib/sass/_base.scss */
h1 {
  display: block;
  line-height: 50px;
  font-size: 1.4rem;
}

/* line 24, ../lib/sass/_base.scss */
h2 {
  color: #fff;
  font-size: .9rem;
  margin-bottom: .6rem;
}

/* line 21, ../../../../var/lib/gems/2.1.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../var/lib/gems/2.1.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../lib/sass/_layout.scss */
#content {
  margin-top: 50px;
}

/* line 29, ../lib/sass/_layout.scss */
.hide {
  display: none !important;
}

/* line 1, ../lib/sass/_spacing.scss */
.topGap {
  margin-top: 40px;
}

/* line 5, ../lib/sass/_spacing.scss */
.bottom {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 13, ../lib/sass/_spacing.scss */
.center {
  margin: auto;
}

/* line 17, ../lib/sass/_spacing.scss */
.left {
  right: 40%;
}

/* line 21, ../lib/sass/_spacing.scss */
.right {
  left: 40%;
}

/* line 1, ../lib/sass/_partials.scss */
.fab, .fab-mini {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  display: flex;
  position: relative;
  background-color: #070303;
  border-radius: 100px;
  align-items: center;
  vertical-align: middle;
  z-index: 20;
  cursor: pointer;
}

/* line 14, ../lib/sass/_partials.scss */
#menu-active, #fab-menu-items-active, #alert-active {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
}

/* line 25, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input, .vertical-selection .vertical-selection-input, .horizontal-name-selection .item {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
/* line 30, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input input[type=radio], .vertical-selection .vertical-selection-input input[type=radio], .horizontal-name-selection .item input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
/* line 36, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input input[type=checkbox], .vertical-selection .vertical-selection-input input[type=checkbox], .horizontal-name-selection .item input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  display: none;
}
/* line 42, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input label, .vertical-selection .vertical-selection-input label, .horizontal-name-selection .item label {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}
/* line 50, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input input[type=radio]:checked + label, .vertical-selection .vertical-selection-input input[type=radio]:checked + label, .horizontal-name-selection .item input[type=radio]:checked + label {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-timing-function: linear;
  transition-duration: 0.25s;
  color: #f7121f;
  background: #fff;
}
/* line 58, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input label + input[type=radio] + label, .vertical-selection .vertical-selection-input label + input[type=radio] + label, .horizontal-name-selection .item label + input[type=radio] + label {
  border-left: solid 3px #fff;
}
/* line 62, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input input[type=checkbox]:checked + label, .vertical-selection .vertical-selection-input input[type=checkbox]:checked + label, .horizontal-name-selection .item input[type=checkbox]:checked + label {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-timing-function: linear;
  transition-duration: 0.25s;
  color: #f7121f;
  background: #fff;
  border-right: solid thin #f7121f;
  border-bottom: solid thin #f7121f;
  border-style: groove;
}
/* line 73, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input label + input[type=checkbox] + label, .vertical-selection .vertical-selection-input label + input[type=checkbox] + label, .horizontal-name-selection .item label + input[type=checkbox] + label {
  border-left: solid 3px #fff;
}
/* line 77, ../lib/sass/_partials.scss */
.horizontal-selection .horizontal-selection-input .item + .item, .vertical-selection .vertical-selection-input .item + .item, .horizontal-name-selection .item .item + .item {
  border-left: solid 3px #fff;
}

/* line 82, ../lib/sass/_partials.scss */
.primary, .secondary, .tertiary {
  background-color: #fff;
  color: #f7121f;
  border-bottom: solid medium #f7121f;
}

/* line 88, ../lib/sass/_partials.scss */
.loss, .gain {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .1s;
  transition-timing-function: ease-in;
  width: 40%;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  clip-path: circle(35% at 50% 50%);
}
/* line 100, ../lib/sass/_partials.scss */
.loss:active, .gain:active {
  background-color: #f7121f;
  color: #fff;
  clip-path: circle(47% at 50% 50%);
}

/* line 107, ../lib/sass/_partials.scss */
.loss::before, .gain::after {
  font-size: .8rem;
  vertical-align: middle;
  color: inherit;
}

/* line 113, ../lib/sass/_partials.scss */
.primary .value-group, .secondary .value-group {
  margin: auto;
}

/* line 118, ../lib/sass/_partials.scss */
.circle, .circle-small, .rounded-rectangle, .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  z-index: 90;
  opacity: 0;
  background-color: #fff;
}

/* line 130, ../lib/sass/_partials.scss */
.circle.opened, .circle-small.opened, .rounded-rectangle.opened, .rectangle.opened {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .5s;
  transform: scale(1.05);
  opacity: .3;
}

/* line 1, ../lib/sass/_animations.scss */
.slide-in {
  position: absolute;
  overflow: hidden;
  transition: all .5s ease;
}

/* line 7, ../lib/sass/_animations.scss */
.slide-in.from-left {
  left: 0;
}

/* line 11, ../lib/sass/_animations.scss */
.slide-in.from-right {
  right: 0;
}

/* line 15, ../lib/sass/_animations.scss */
.slide-in-content {
  transition: all .5s ease;
}

/* line 19, ../lib/sass/_animations.scss */
.slide-in.from-left {
  transform: translateX(-150%);
}

/* line 23, ../lib/sass/_animations.scss */
.slide-in.from-right {
  transform: translateX(150%);
}

/* line 27, ../lib/sass/_animations.scss */
.slide-in.show {
  transform: translateX(0);
}

/* line 31, ../lib/sass/_animations.scss */
.circle {
  border-radius: 100%;
}

/* line 36, ../lib/sass/_animations.scss */
.circle-small {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #f7121f;
  border-radius: 100%;
}

/* line 57, ../lib/sass/_animations.scss */
.rounded-rectangle {
  border-radius: 10px;
}

/* line 66, ../lib/sass/_animations.scss */
.rectangle {
  position: relative;
}

/* line 75, ../lib/sass/_animations.scss */
.spinLeft {
  transform: rotate(-135deg);
  transition-duration: .5s;
}

/* line 80, ../lib/sass/_animations.scss */
.spinRight {
  transform: rotate(0deg);
  transition-duration: .5s;
}

/* line 85, ../lib/sass/_animations.scss */
.grow-shrink-base {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .1s;
}

/* line 91, ../lib/sass/_animations.scss */
.shrink h1, .shrink h2, .shrink h3, .shrink h4, .shrink h5, .shrink h6 {
  font-size: .5rem !important;
}

/* line 97, ../lib/sass/_animations.scss */
.grow h1, .grow h2, .grow h3, .grow h4, .grow h5, .grow h6 {
  font-size: 3rem !important;
}

/* line 1, ../lib/sass/_tooltip.scss */
.tooltip .tooltiptext {
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  visibility: hidden;
  min-width: 60px;
  width: auto;
  background-color: rgba(47, 47, 47, 0.8);
  color: #fff;
  font-size: .9rem;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

/* line 18, ../lib/sass/_tooltip.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* line 22, ../lib/sass/_tooltip.scss */
.tooltip-left {
  top: -2px;
  right: 150%;
}

/* line 27, ../lib/sass/_tooltip.scss */
.tooltip-right {
  top: -2px;
  left: 150%;
}

/* line 32, ../lib/sass/_tooltip.scss */
.tooltip-top {
  width: 60px;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 39, ../lib/sass/_tooltip.scss */
.tooltip-bottom {
  width: 60px;
  top: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 1, ../lib/sass/_nav.scss */
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #070303;
  z-index: 5;
}
/* line 11, ../lib/sass/_nav.scss */
header .menu-button {
  margin: 0 5px;
  fill: #fff;
}

/* line 17, ../lib/sass/_nav.scss */
#menu {
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  display: block;
  position: absolute;
  top: 0;
  z-index: 35;
  width: 90%;
  height: 100vh;
  background-color: #fff;
}
/* line 27, ../lib/sass/_nav.scss */
#menu a {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  line-height: 150%;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background-color: #f7121f;
  padding-left: 10px;
  border-bottom: solid 2px #fff;
}

/* line 41, ../lib/sass/_nav.scss */
#menu-active {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 31;
}

/* line 47, ../lib/sass/_nav.scss */
.logo {
  display: block;
  padding: 10px 15px;
  background-color: #070303;
  color: #fff;
  margin: 0;
}

/* line 1, ../lib/sass/_fab.scss */
.fab {
  padding: 5px;
  margin: 15px;
}
/* line 6, ../lib/sass/_fab.scss */
.fab svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

/* line 13, ../lib/sass/_fab.scss */
.fab-mini {
  max-width: 30px;
  padding: 3px;
  margin: auto;
}
/* line 20, ../lib/sass/_fab.scss */
.fab-mini svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
/* line 26, ../lib/sass/_fab.scss */
.fab-mini .tooltiptext {
  visibility: visible;
}

/* line 31, ../lib/sass/_fab.scss */
.fab-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../lib/sass/_fab.scss */
.fab-menu label {
  cursor: pointer;
  position: relative;
  height: 24px;
}
/* line 42, ../lib/sass/_fab.scss */
.fab-menu input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
/* line 49, ../lib/sass/_fab.scss */
.fab-menu .fab-mini + .fab-mini {
  margin-top: 15px;
}
/* line 53, ../lib/sass/_fab.scss */
.fab-menu .fab-menu-items {
  display: none;
}
/* line 57, ../lib/sass/_fab.scss */
.fab-menu .fab-menu-items.show {
  display: block;
}

/* line 1, ../lib/sass/_radio-groups.scss */
.horizontal-selection {
  display: block;
  text-align: center;
}
/* line 5, ../lib/sass/_radio-groups.scss */
.horizontal-selection .horizontal-selection-input {
  border: solid 3px #fff;
  margin: 10px auto;
}

/* line 12, ../lib/sass/_radio-groups.scss */
.vertical-selection {
  display: block;
  text-align: center;
}
/* line 16, ../lib/sass/_radio-groups.scss */
.vertical-selection .vertical-selection-input {
  border: solid 3px #fff;
  margin: 10px auto;
}
/* line 21, ../lib/sass/_radio-groups.scss */
.vertical-selection .vertical-selection-input label {
  display: block;
}
/* line 25, ../lib/sass/_radio-groups.scss */
.vertical-selection .vertical-selection-input .item + .item {
  border-left: none;
  border-top: solid 3px #fff;
}

/* line 32, ../lib/sass/_radio-groups.scss */
.horizontal-name-selection {
  display: block;
  text-align: center;
  border: solid 3px #fff;
}
/* line 37, ../lib/sass/_radio-groups.scss */
.horizontal-name-selection .item {
  margin-bottom: -4px;
  height: 30px;
}
/* line 42, ../lib/sass/_radio-groups.scss */
.horizontal-name-selection .item label {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
}
/* line 51, ../lib/sass/_radio-groups.scss */
.horizontal-name-selection .item + .item {
  border-left: solid 3px #fff;
}

/* line 60, ../lib/sass/_radio-groups.scss */
.tabGroup1 .item-1 {
  width: 100%;
}
/* line 64, ../lib/sass/_radio-groups.scss */
.tabGroup1 .item-2 {
  width: 50%;
}
/* line 68, ../lib/sass/_radio-groups.scss */
.tabGroup1 .item-3 {
  width: 33.33%;
}
/* line 72, ../lib/sass/_radio-groups.scss */
.tabGroup1 .item-4, .tabGroup1 .item-5, .tabGroup1 .item-6, .tabGroup1 .item-7, .tabGroup1 .item-8 {
  width: 25%;
}

/* line 78, ../lib/sass/_radio-groups.scss */
.tabGroup2 {
  border-top: none;
}
/* line 83, ../lib/sass/_radio-groups.scss */
.tabGroup2 .item-5 {
  width: 100%;
}
/* line 87, ../lib/sass/_radio-groups.scss */
.tabGroup2 .item-6 {
  width: 50%;
}
/* line 91, ../lib/sass/_radio-groups.scss */
.tabGroup2 .item-7 {
  width: 33.33%;
}
/* line 95, ../lib/sass/_radio-groups.scss */
.tabGroup2 .item-8 {
  width: 25%;
}

/* line 101, ../lib/sass/_radio-groups.scss */
.rounded {
  border-radius: 10px;
}

/* line 105, ../lib/sass/_radio-groups.scss */
.input-invert {
  border-color: #f7121f;
  background: #fff;
}
/* line 109, ../lib/sass/_radio-groups.scss */
.input-invert .item {
  border-color: #f7121f;
}
/* line 112, ../lib/sass/_radio-groups.scss */
.input-invert .item label {
  color: #f7121f;
}
/* line 116, ../lib/sass/_radio-groups.scss */
.input-invert .item input[type=radio]:checked + label {
  color: #fff;
  background: #f7121f;
}
/* line 121, ../lib/sass/_radio-groups.scss */
.input-invert .item input[type=checkbox]:checked + label {
  color: #fff;
  background: #f7121f;
}
/* line 127, ../lib/sass/_radio-groups.scss */
.input-invert .item + .item {
  border-color: #f7121f;
}

/* line 132, ../lib/sass/_radio-groups.scss */
#rand-player-selection {
  width: 80%;
  text-align: center;
}
/* line 136, ../lib/sass/_radio-groups.scss */
#rand-player-selection .tabGroup1 + .tabGroup1 {
  border-top: none;
}

/* line 1, ../lib/sass/_button.scss */
.rounded-button {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  display: block;
  width: 100px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
/* line 14, ../lib/sass/_button.scss */
.rounded-button.primaryContent {
  border-color: #fff;
  background-color: #070303;
  color: #fff;
}
/* line 19, ../lib/sass/_button.scss */
.rounded-button.primaryContent:active {
  background-color: #fff;
  color: #070303;
}
/* line 25, ../lib/sass/_button.scss */
.rounded-button.secondaryContent {
  border-color: #fff;
  background-color: #f7121f;
  color: #fff;
}
/* line 30, ../lib/sass/_button.scss */
.rounded-button.secondaryContent:active {
  background-color: #fff;
  color: #f7121f;
}
/* line 36, ../lib/sass/_button.scss */
.rounded-button.tertiaryContent {
  border-color: #000;
  background-color: #fff;
  color: #000;
}
/* line 41, ../lib/sass/_button.scss */
.rounded-button.tertiaryContent:active {
  background-color: #000;
  color: #fff;
}

/* line 1, ../lib/sass/_game-init.scss */
.group {
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f7121f;
}

/* line 16, ../lib/sass/_game-init.scss */
.player-names {
  display: block;
  text-align: center;
}
/* line 20, ../lib/sass/_game-init.scss */
.player-names .player-name {
  margin: auto;
  margin-bottom: .3rem;
  overflow: hidden;
}
/* line 25, ../lib/sass/_game-init.scss */
.player-names .player-name label {
  color: #fff;
  font-size: 1.3rem;
  float: left;
}
/* line 31, ../lib/sass/_game-init.scss */
.player-names .player-name input {
  background-color: #f7121f;
  color: #fff;
  border: none;
  border-bottom: solid thin #fff;
  margin-left: 10px;
  font-size: 1rem;
  float: right;
}

/* line 1, ../lib/sass/_dice.scss */
.dice-group {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  width: 100%;
  margin: auto;
}
/* line 7, ../lib/sass/_dice.scss */
.dice-group .dice-result {
  width: 75%;
  height: 60px;
  background-color: #fff;
  margin: 25px auto;
  text-align: center;
}
/* line 14, ../lib/sass/_dice.scss */
.dice-group .dice-result h3 {
  font-size: 2rem;
  color: #000;
  line-height: 60px;
}

/* line 22, ../lib/sass/_dice.scss */
#dice-holder {
  width: 285px;
  margin: auto;
}

/* line 27, ../lib/sass/_dice.scss */
.dice {
  fill: #fff;
  font-family: Marvel, Sans-Serif;
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: scale(1);
}
/* line 40, ../lib/sass/_dice.scss */
.dice:active {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .1s;
  transform: scale(1.3);
}
/* line 46, ../lib/sass/_dice.scss */
.dice .dice-text {
  fill: #000;
  font-size: 300px;
  line-height: 100%;
}

/* line 54, ../lib/sass/_dice.scss */
.coin {
  fill: #fff;
  font-family: Marvel, Sans-Serif;
  width: 75px;
  height: 75px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: scale(1);
}
/* line 67, ../lib/sass/_dice.scss */
.coin:active {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .1s;
  transform: scale(1.3);
}
/* line 73, ../lib/sass/_dice.scss */
.coin .coin-text {
  fill: #000;
  font-size: 250px;
  line-height: 100%;
}

/* line 4, ../lib/sass/_game.scss */
.loss::before {
  content: '\2796\0020';
}

/* line 13, ../lib/sass/_game.scss */
.gain::after {
  content: '\0020\2795';
}

/* line 19, ../lib/sass/_game.scss */
.value-group {
  display: block;
  text-align: center;
}

/* line 24, ../lib/sass/_game.scss */
.counter-value {
  font-size: 2rem;
  line-height: 120%;
  vertical-align: middle;
}

/* line 30, ../lib/sass/_game.scss */
.counter-name {
  font-size: .8rem;
  text-align: center;
  height: 22px;
  overflow: hidden;
}

/* line 37, ../lib/sass/_game.scss */
.multi-counter {
  border-top: solid thin #f7121f;
  width: 95%;
  margin: auto;
}

/* line 43, ../lib/sass/_game.scss */
.single-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
}
/* line 50, ../lib/sass/_game.scss */
.single-counter .counter-value {
  line-height: 100%;
  padding-bottom: .35rem;
}
/* line 55, ../lib/sass/_game.scss */
.single-counter .loss, .single-counter .gain {
  vertical-align: middle;
  line-height: 50px;
}

/* line 61, ../lib/sass/_game.scss */
.increment-group {
  display: block;
  text-align: center;
  overflow: hidden;
  line-height: 200%;
}
/* line 67, ../lib/sass/_game.scss */
.increment-group .loss {
  float: left;
}
/* line 71, ../lib/sass/_game.scss */
.increment-group .gain {
  float: right;
}
/* line 75, ../lib/sass/_game.scss */
.increment-group + .increment-group {
  border-top: solid thin #f7121f;
}

/* line 80, ../lib/sass/_game.scss */
.primary {
  width: 100%;
}
/* line 84, ../lib/sass/_game.scss */
.primary .value-group {
  display: block;
  text-align: center;
}
/* line 90, ../lib/sass/_game.scss */
.primary .counter-value {
  font-size: 2.5rem;
  vertical-align: middle;
}
/* line 95, ../lib/sass/_game.scss */
.primary .single-counter {
  height: calc(50px + 15px);
}

/* line 100, ../lib/sass/_game.scss */
.secondary {
  width: 100%;
}

/* line 109, ../lib/sass/_game.scss */
.tertiary {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border-bottom: solid medium #f7121f;
}
/* line 114, ../lib/sass/_game.scss */
.tertiary:nth-of-type(2n - 1) {
  border-right: solid medium #f7121f;
}
/* line 118, ../lib/sass/_game.scss */
.tertiary .value-group {
  width: 40%;
}
/* line 122, ../lib/sass/_game.scss */
.tertiary .loss, .tertiary .gain {
  width: 30%;
}

/* line 127, ../lib/sass/_game.scss */
.player {
  display: none;
}
/* line 130, ../lib/sass/_game.scss */
.player.active {
  display: block;
}

/* line 1, ../lib/sass/_alert.scss */
.alert {
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  z-index: 45;
  width: 95%;
  margin: auto;
  font-size: 1.3rem;
}
/* line 14, ../lib/sass/_alert.scss */
.alert .title {
  background-color: #070303;
  color: #fff;
  padding: 10px 15px;
  line-height: 130%;
}
/* line 21, ../lib/sass/_alert.scss */
.alert .message {
  padding: 10px 15px;
  line-height: 120%;
}
/* line 26, ../lib/sass/_alert.scss */
.alert button {
  font-size: 1.1rem;
  margin: 5px calc(((100% - 95%) + 95% - 50%) / 2) 10px;
  padding: 5px;
  background-color: #070303;
  color: #fff;
  outline: none;
  border: none;
  width: 50%;
  cursor: pointer;
}
/* line 40, ../lib/sass/_alert.scss */
.alert-error .title, .alert-error button {
  background-color: #08EDE0;
  color: #000;
}
/* line 46, ../lib/sass/_alert.scss */
.alert-anounce {
  text-align: center;
}
/* line 49, ../lib/sass/_alert.scss */
.alert-anounce .title {
  font-size: 1.1rem;
  font-weight: thin;
}
/* line 54, ../lib/sass/_alert.scss */
.alert-anounce .message {
  font-size: 2.3rem;
}

/* line 60, ../lib/sass/_alert.scss */
#alert-active {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 41;
}
