/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("fonts/Exo_2/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-size: "thin";
}
@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo_2/Exo2-Bold.woff") format("woff"), url("fonts/Exo_2/Exo2-Bold.woff2") format("woff2"), url("fonts/Exo_2/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-size: "bold";
}
@font-face {
  font-family: "Marvel";
  src: url("fonts/Marvel/Marvel-Regular.woff") format("woff"), url("fonts/Marvel/Marvel-Regular.woff2") format("woff2"), url("fonts/Marvel/Marvel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: "regular";
}
/*
 0 -  9: Normal
10 - 19: Tooltips
20 - 29: Fab Menu
30 - 39: Hamburger Menu
40 - 49:
50 - 59:
60 - 69:
70 - 71:
80 - 89:
90 - 99: Animations
*/
/* $default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-timing-function: ease-in-out;
 */
/* line 1, ../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Marvel, Sans-Serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 110%;
}

/* line 9, ../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", Sans-Serif;
  font-weight: bold;
}

/* line 14, ../lib/sass/_base.scss */
h1 {
  display: block;
  line-height: 50px;
  font-size: 1.4rem;
}

/* line 21, ../../../../../var/lib/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../var/lib/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../lib/sass/_layout.scss */
#content {
  margin-top: 50px;
}

/* line 29, ../lib/sass/_layout.scss */
.hide {
  display: none !important;
}

/* line 1, ../lib/sass/_partials.scss */
.fab, .fab-mini {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  display: flex;
  position: relative;
  background-color: #a40cbe;
  border-radius: 100px;
  align-items: center;
  vertical-align: middle;
  z-index: 20;
  cursor: pointer;
}

/* line 14, ../lib/sass/_partials.scss */
#menu-active, #fab-menu-items-active {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
}

/* line 1, ../lib/sass/_animations.scss */
.slide-in {
  position: absolute;
  overflow: hidden;
  transition: all .5s ease;
}

/* line 7, ../lib/sass/_animations.scss */
.slide-in.from-left {
  left: 0;
}

/* line 11, ../lib/sass/_animations.scss */
.slide-in.from-right {
  right: 0;
}

/* line 15, ../lib/sass/_animations.scss */
.slide-in-content {
  transition: all .5s ease;
}

/* line 19, ../lib/sass/_animations.scss */
.slide-in.from-left {
  transform: translateX(-150%);
}

/* line 23, ../lib/sass/_animations.scss */
.slide-in.from-right {
  transform: translateX(150%);
}

/* line 27, ../lib/sass/_animations.scss */
.slide-in.show {
  transform: translateX(0);
}

/* line 31, ../lib/sass/_animations.scss */
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform: scale(0);
  z-index: 90;
  opacity: 0;
  background-color: #fff;
}

/* line 44, ../lib/sass/_animations.scss */
.circle.opened {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-duration: .5s;
  transform: scale(1.05);
  opacity: .3;
}

/* line 51, ../lib/sass/_animations.scss */
.spinLeft {
  transform: rotate(-135deg);
  transition-duration: .5s;
}

/* line 56, ../lib/sass/_animations.scss */
.spinRight {
  transform: rotate(0deg);
  transition-duration: .5s;
}

/* line 1, ../lib/sass/_tooltip.scss */
.tooltip .tooltiptext {
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  visibility: hidden;
  min-width: 60px;
  width: auto;
  background-color: rgba(47, 47, 47, 0.8);
  color: #fff;
  font-size: .9rem;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

/* line 18, ../lib/sass/_tooltip.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* line 22, ../lib/sass/_tooltip.scss */
.tooltip-left {
  top: -2px;
  right: 150%;
}

/* line 27, ../lib/sass/_tooltip.scss */
.tooltip-right {
  top: -2px;
  left: 150%;
}

/* line 32, ../lib/sass/_tooltip.scss */
.tooltip-top {
  width: 60px;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 39, ../lib/sass/_tooltip.scss */
.tooltip-bottom {
  width: 60px;
  top: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 1, ../lib/sass/_nav.scss */
header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #a40cbe;
  z-index: 5;
}
/* line 11, ../lib/sass/_nav.scss */
header .menu-button {
  margin: 0 5px;
  fill: #fff;
}

/* line 17, ../lib/sass/_nav.scss */
#menu {
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  display: block;
  position: absolute;
  top: 0;
  z-index: 35;
  width: 90%;
  height: 100vh;
  background-color: #fff;
}

/* line 28, ../lib/sass/_nav.scss */
#menu-active {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 31;
}

/* line 34, ../lib/sass/_nav.scss */
.logo {
  display: block;
  padding: 10px 15px;
  background-color: #a40cbe;
  color: #fff;
  margin: 0;
}

/* line 1, ../lib/sass/_fab.scss */
.fab {
  padding: 5px;
  margin: 15px;
}
/* line 6, ../lib/sass/_fab.scss */
.fab svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

/* line 13, ../lib/sass/_fab.scss */
.fab-mini {
  max-width: 30px;
  padding: 3px;
  margin: auto;
}
/* line 20, ../lib/sass/_fab.scss */
.fab-mini svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
/* line 26, ../lib/sass/_fab.scss */
.fab-mini .tooltiptext {
  visibility: visible;
}

/* line 31, ../lib/sass/_fab.scss */
.fab-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../lib/sass/_fab.scss */
.fab-menu label {
  cursor: pointer;
  position: relative;
  height: 24px;
}
/* line 42, ../lib/sass/_fab.scss */
.fab-menu input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
/* line 49, ../lib/sass/_fab.scss */
.fab-menu .fab-mini + .fab-mini {
  margin-top: 15px;
}
/* line 53, ../lib/sass/_fab.scss */
.fab-menu .fab-menu-items {
  display: none;
}
/* line 57, ../lib/sass/_fab.scss */
.fab-menu .fab-menu-items.show {
  display: block;
}
