<div class="dice-group">
  <h3 id="result"></h3>

  <svg class="dice" onclick="rollDie(6)" id="d6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 44.08">
    <g id="layer1"><rect id="rect1450" y="6.28" width="30" height="30"/></g>
    <g id="layer3"><g id="text1415" class="cls-1"><text class="dice-text" transform="translate(5.36 34)">6</text></g></g>
  </svg>

  <svg class="dice" onclick="rollDie(4)" id="d4" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.65 31.33">
    <polygon class="cls-1" points="30.82 30 15.76 30 0.82 30 15.76 1.09 30.82 30"/>
    <text class="dice-text" transform="translate(11.07 25.28)">4</text>
  </svg>

  <svg class="dice" onclick="rollDie(8)" id="d8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 44.08">
    <g id="layer1"><path id="path1426" d="M24.13,4.11,9,24,24,44,39,24.2h0l0,0,0,0h0Z" transform="translate(-9 -3.14)"/></g>
    <g id="layer3"><g id="text1415" class="cls-1"><text class="dice-text" transform="translate(6.44 34)">8</text></g></g>
  </svg>

  <svg class="dice" onclick="rollDie(10)" id="d10" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.29 41.11">
    <polygon class="cls-1" points="30.64 30 15.59 40.5 0.65 30 15.59 1.09 30.64 30"/>
    <text class="dice-text" transform="translate(8.89 31.7)">10</text>
  </svg>

  <svg class="dice" onclick="rollDie(12)" id="d12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 46.58">
    <g id="layer1"><path id="path1401" d="M38.27,46.1l-27.81.4-9-27.57L23.78,1.5,46.5,18.29Z" transform="translate(-1.5 -1.5)"/></g>
    <g id="layer3"><g id="text1415" class="cls-1"><text class="dice-text" transform="translate(10.5 36.5)">12</text></g></g>
  </svg>

  <svg class="dice" onclick="rollDie(20)" id="d20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45.9">
    <g id="layer1"><path id="path1390" d="M46.5,35.18,24.09,46.5,1.59,35.32,1.5,12.82,23.91,1.5l22.5,11.18Z" transform="translate(-1.5 -1.5)"/></g>
    <g id="layer2"><g id="text1394" class="cls-1"><text class="dice-text" transform="translate(6.64 35.54)">20</text></g></g>
  </svg>

  <svg class="coin" onclick="coinFlip()" id="coin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
    <g id="layer1"><circle id="path1458" cx="22.5" cy="22.5" r="22.5"/></g>
    <g id="layer3"><g id="text1415" class="cls-1"><text class="dice-text" transform="translate(1.46 30.26)">C<tspan class="cls-3" x="10.34" y="0">OIN</tspan></text></g></g>
  </svg>

  <!--
  <input type="number" id="dice"></input>
  <button onclick="rollDice()">Roll</button> -->
</div>
