<script id="player-tabs-template" type="x-template">
  <div class="player-tab">
    <label for="player0">Player 0</label>
    <input type="radio" id="player0" name="player-tab" onchange="activatePlayer()">
    <div class="player"></div>
  </div>
</script>


<script id="increment-group-template" type="x-template">
  <div class="increment-group">
    <span class="loss" onclick="decrementCounter(this);"></span>
    <span class="gain" onclick="incrementCounter(this);"></span>
  </div>
</script>

<script id="p-multi-template" type="x-template">
  <div class="primary">
    <div class="value-group">
      <h5 class="counter-name"></h5>
      <h4 class="counter-value"></h4>
    </div>
    <div class="multi-counter">

    </div>
  </div>
</script>

<script id="p-single-template" type="x-template">
  <div class="primary">
    <h5 class="counter-name"></h5>
    <div class="single-counter">
      <span class="loss" onclick="decrementCounter(this);"></span>
      <div class="value-group">
        <h4 class="counter-value"></h4>
      </div>
      <span class="gain" onclick="incrementCounter(this);"></span>
    </div>
  </div>
</script>

<script id="s-multi-template" type="x-template">
  <div class="secondary">
    <div class="value-group">
      <h5 class="counter-name"></h5>
      <h4 class="counter-value"></h4>
    </div>
    <div class="multi-counter">

    </div>
  </div>
</script>

<script id="s-single-template" type="x-template">
  <div class="secondary">
    <h5 class="counter-name"></h5>
    <div class="single-counter">
      <span class="loss" onclick="decrementCounter(this);"></span>
      <div class="value-group">
        <h4 class="counter-value"></h4>
      </div>
      <span class="gain" onclick="incrementCounter(this);"></span>
    </div>
  </div>
</script>

<script id="t-single-template" type="x-template">
  <div class="tertiary">
    <h5 class="counter-name"></h5>
    <div class="single-counter">
      <span class="loss" onclick="decrementCounter(this);"></span>
      <div class="value-group">
        <h4 class="counter-value"></h4>
      </div>
      <span class="gain" onclick="incrementCounter(this);"></span>
    </div>
  </div>
</script>
