<script id="game-selection" type="x-template">
<div class="group">
  <div class="game-selection">
    <h2>Game Preset</h2>
    <div id="game-selection" class="game-selection-input">
      <input type="radio" id="game-option-1" name="game-selection" value="game1">
      <label for="game-option-1">Game Option 1</label>

      <input type="radio" id="game-option-2" name="game-selection" value="game2">
      <label for="game-option-2">Game Option 2</label>

      <input type="radio" id="game-option-3" name="game-selection" value="game3">
      <label for="game-option-3">Game Option 3</label>

      <input type="radio" id="game-option-4" name="game-selection" value="game4">
      <label for="game-option-4">Game Option 4</label>
    </div> <!-- game-selection-input -->
  </div> <!-- game-selection -->
</div> <!-- group -->
</script>
