<script id="game-selection-template" type="x-template">
<div class="group">
  <div class="vertical-selection">
    <h2>Game Preset</h2>
    <div id="game-selection" class="vertical-selection-input rounded">

    </div> <!-- vertical-selection-input -->
    <button class="rounded-button secondaryContent center bottom" onclick="buttonPlayGame()">Play</button>
  </div> <!-- vertical-selection -->
</div> <!-- group -->
</script>

<script id="game-template" type="x-template">
<div class="item">
  <input type="radio" id="game-option" name="game-selection" value="game">
  <label id="game-option-label" for="game-option">Game Option</label>
</div>
</script>
