<script id="rand-player-selection-template" type="x-template">
<div class="group">
  <div id="rand-player-selection">
    <h2>Select Players</h2>

    <button class="rounded-button secondaryContent center bottom" onclick="buttonSelectRandPlayer()">Play</button>
  </div> <!-- horizontal-selection -->
</div> <!-- group -->
</script>

<script id="rand-player-template" type="x-template">
<div class="item item-2">
  <input type="checkbox" id="rand-player-option" name="rand-player-selection" value="rand-player">
  <label for="rand-player-option">Player Option</label>
</div>
</script>
